[Desktop Entry]
Name=Netron
Comment=Netron
Exec=/opt/netron/Netron-8.5.3.AppImage --no-sandbox
Icon=/opt/netron/icon.png
Terminal=false
Type=Application
Categories=Development